* {
	text-align: center;
}

body {
	background-image: url("https://www.xmple.com/wallpaper/plain-single-pink-solid-color-one-colour-1920x1080-c-f0388d-f-24.svg");
}

h1 {
	color: rgb(14, 244, 252);
	font-weight: bold;
	font-size: 50px;
}